p{
    color: blue;
}
h1{
    color: red;
    background-color: green;
}
h2{
    color: green;
    background-color: blueviolet;
} 
.loream{
    color:aqua
}
.dummy{
    color: forestgreen;
    background-color: blue;
}
